
body {
    font-family: helvetica, arial, sans-serif;
    background: white url("site_bg.jpg") no-repeat scroll 0px 0px;
    color: #535353;
}

.pretty_table {
    -moz-border-radius-bottomleft:5px;
    -webkit-border-bottom-left-radius:5px;
    border-bottom-left-radius:5px;

    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-right-radius:5px;
    border-bottom-right-radius:5px;

    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius:5px;
    border-top-right-radius:5px;

    -moz-border-radius-topleft:5px;
    -webkit-border-top-left-radius:5px;
    border-top-left-radius:5px;
}

.pretty_table table {
    width:100%;
    height:100%;
    border-spacing: 10px;
    border-collapse: separate;
}

.pretty_table tr:last-child td:last-child {
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pretty_table tr:first-child td:first-child {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
}

.pretty_table tr:first-child td:last-child {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

.pretty_table tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pretty_table td {
    vertical-align: middle;
    text-align: center;
    padding: 5px;
    border: solid 1px grey;
    color: black;
}

.pretty_table_header {
    background-color:#F1F1F1;
    text-align: center;
    color: black;
    border: solid 1px grey;
    padding: 5px;
}

.pretty_table_header:hover {
    cursor: pointer;
    text-decoration: underline;
}

.success {
    background-color: #00FF00;
}

.success:hover {
    cursor: pointer;
    border: solid 1px #3C763D;
    text-decoration: underline;
}

.fail {
    background-color: #FF3300;
}

.fail:hover {
    cursor:pointer;
    text-decoration: underline;
}

.unknown {
    background-color: #FF0000;
}

.unknown:hover {
    cursor:pointer;
    text-decoration: underline;
}

.no_result {
    background-color: white;
    opacity: 0.75;
}

.scoreboard_container {
    margin-top: 10px;
    margin-left: 10px;
    width: 90%;
}

.query_box_container {
    margin-top: 15px;
    margin-left: 10px;
    background: rgba(255, 255, 255, 0);
    width: 90%;
    color: #535353;
}

.query_box {
    padding: 10px;
    margin: 0 auto;
}

.query_box_title {
    font-size: 150%;
    display: inline-block;
    color: #264D69;
    margin: 2px;s
}

.query_box input {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-right: 10px;
    border: solid 1px #bbb;
    /* padding: 5px; */
}

.overlay_opaque {
    opacity: 0.75;
    background-color: #4C4C4C;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 10000;
}

.overlay_title {
    width: 100%;
    font-size: 125%;
    font-weight: bold;
    text-align: center;
    position: absolute;
    bottom: 0;
    z-index: 100001;
}

.overlay_clear {
    background-color:rgba(0, 0, 0, 0.5)
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 100000; /* more than the opaque one */
}

#paginator {
    margin: auto 10px;
    padding: 10px;
    text-align: center;
}

#paginator label {
    margin: 0 10px;
    text-align: center;
    font-size: 95%;
}

#logo {
    margin-left: 10px;
}