      <p>
        Each project has a table of recent CI results.
        Columns plot patch sets and rows plot CI servers.
        Each cell shows results for the row's CI server and the column's patch set.
        Click the icons to view relevant logs.
        Newest results are shown furthest to the left.
      </p>
