<html>
  <head>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>

    <div class="container">

      {% include '_header.html.jinja' %}

      <div class="jumbotron">
        <h2>Select a project to view CI results</h2>
        <br>
        <div class="row">
          {% for project in projects %}
          <div class="col-xs-6 col-md-3">
            <a href="{{ url_for('project', project=project.name) }}" class="thumbnail">
              <p style="text-align:center">{{ project.name }}</p>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>

      <h2>Usage</h2>
      {% include '_usage.html.jinja' %}

      <div class="panel panel-default">
        <div class="panel-heading">Legend</div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Icon</th>
              <th>Meaning</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>
                <a href="#">
                  <span class="fa fa-external-link"></span>
                </a>
              </td>
              <td>Link to patch set on Gerrit</td>
            </tr>

            <tr>
              <td>
                <p class="success">
                  <span class="glyphicon glyphicon-ok">
                  </span>
                </p>
              </td>
              <td>CI voted <span class="success">SUCCESS</span> for patch set</p></td>
            </tr>

            <tr>
              <td>
                <p class="failure">
                  <span class="glyphicon glyphicon-remove">
                  </span>
                </p>
              </td>
              <td>CI voted <span class="failure">FAILURE</span> for patch set</td>
            </tr>

            <tr>
              <td>
                <p class="unstable">
                  <span class="fa fa-exclamation-triangle">
                  </span>
                </p>
              </td>
              <td>CI voted <span class="unstable">UNSTABLE</span> for patch set</td>
            </tr>

            <tr>
              <td>
                <p class="unregistered">N</p>
              </td>
              <td>CI voted <span class="unregistered">NOT_REGISTERED</span> patch set</td>
            </tr>

            <tr>
              <td>
                <span class="glyphicon glyphicon-none">
                </span>
              </td>
              <td>CI has not yet voted on this patch set</td>
            </tr>

          </tbody>
        </table>
      </div>

      <h2>Contact Us</h2>
      {% include '_contact.html.jinja' %}

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </body>
</html>
