<html>
    <head>
        <link rel='icon' type='image/png' href='/static/favicon.ico'>
        <script type='text/javascript' src='/static/jquery-2.1.3.min.js'></script>
        <script type='text/javascript' src='/static/scoreboard.js'></script>
        <script type='text/javascript' src='http://fgnass.github.io/spin.js/spin.js'></script>
        <script type='text/javascript' src='/static/Chart.min.js'></script>
        <link rel='stylesheet' type='text/css' href='/static/scoreboard.css'>
    </head>
    <body>
        <div id="logo">
            <img src="/static/open-stack-cloud-computing-logo-2.png" />
        </div>
        <div id='query-box'></div>
        <div id='paginator'></div>
        <div id='scoreboard'></div>
        <script type='text/javascript'>
            var HOST = '{{host}}';

            Scoreboard.show_query_box(HOST, 'query-box');
            Scoreboard.build(HOST, 'scoreboard');
        </script>
    </body>
</html>
